{
 "branches": ["main"],
 "tagFormat": "v${version}-${process.env.SERVICE_TIER}",
 "plugins": [
   "@semantic-release/commit-analyzer",
   "@semantic-release/release-notes-generator",
   "@semantic-release/github"
 ]
}